<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/BigData.css" rel="stylesheet" type="text/css"/>
    <link href="css/index.css" rel="stylesheet" type="text/css"/>
    <link href="css/index01.css" rel="stylesheet" type="text/css"/>
    <script src="js/jquery.js"></script>
    <link href="js/bstable/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="js/bstable/css/bootstrap-table.css" rel="stylesheet" type="text/css"/>
    <link href="css/Security_operation.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="js/artDialog/skins/default.css" type="text/css"/>
    <script src="js/laydate.js"></script>
    <script src="js/Home_page.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>大数据管理平台</title>
    <!--    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.0&ak=6mpoeWsggDIVttkiMhM30klGVhrn91ee&s=1"></script>-->
    <script type="text/javascript"
            src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=6mpoeWsggDIVttkiMhM30klGVhrn91ee"></script>
</head>
<body>
<div class="data_bodey">
    <div class="index_nav">
        <ul style="height: 30px; margin-bottom: 0px;">
            <li class="l_left total_chose_fr nav_active">北京市租房数据</li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="index_tabs">
        <!--安防运作-->
        <div class="inner" style="height: 109%;">

            <div class="left_cage">
                <div class="dataAllBorder01 cage_cl" style="margin-top: 9% !important; height: 24%;">
                    <div class="map_title" style="background-image: url(img/second_title.png);">各行政区房源数量与平均租金</div>
                    <!--                        <table id="table" style="width: 100%"></table>-->
                    <div id="district_group" style="height: 100%;width:100%"></div>

                </div>
                <div class="dataAllBorder01 cage_cl" style="margin-top: 1.5% !important; height: 38%;">
                    <div id="area_group" style="height: 50%;width: 100%"></div>
                    <div id="liftGroupBy" style="height: 50%;width: 100%;float: left"></div>


                </div>
                <div class="dataAllBorder01 cage_cl" style="margin-top: 1.5% !important; height: 32%;">
                    <div class="map_title" style="background-image: url(img/second_title.png);">商圈平均租金与房源数量</div>
                    <div id="businessGroupByOfRent" style="height: 100%;width: 100%"></div>

                </div>
            </div>

            <div class="center_cage">
                <div class="dataAllBorder01 cage_cl"
                     style="margin-top: 3.5% !important; height: 62.7%; position: relative;">
                    <div class="dataAllBorder02" style="position: relative; overflow: hidden;">
                        <!--标题栏-->
                        <div class="map_title_box" style="height: 6%">
                            <div class="map_title_innerbox">
                                <div class="map_title">北京市房源地图</div>
                            </div>
                        </div>
                        <div class="map" id="map" style="height: 85%"></div>
                        <!--地图显示信息选择-->
                        <div class="display_type_box display_box" style="display: none;overflow:auto">
                            <div class="display_type_center_box">
                                <ul class="display_type_inner_box" id="layerList">
                                    <li class="display_type_msg"><input id="zt_4" type="checkbox"
                                                                        class="display_type_chose"/> 危化品企业
                                    </li>
                                    <li class="display_type_msg"><input id="zt_1" type="checkbox"
                                                                        class="display_type_chose"/>仓库
                                    </li>
                                    <li class="display_type_msg"><input id="zt_5" type="checkbox"
                                                                        class="display_type_chose"/>学校
                                    </li>
                                    <li class="display_type_msg"><input id="zt_6" type="checkbox"
                                                                        class="display_type_chose"/>医疗卫生
                                    </li>
                                    <li class="display_type_msg"><input id="zt_2" type="checkbox"
                                                                        class="display_type_chose"/>加油站
                                    </li>
                                    <li class="displ分析数据一ay_type_msg"><input id="zt_0" type="checkbox"
                                                                             class="display_type_chose"/>停车场
                                    </li>
                                    <li class="display_type_msg"><input id="zt_3" type="checkbox"
                                                                        class="display_type_chose"/>派出所
                                    </li>
                                    <li class="display_type_msg"><input id="zt_7" type="checkbox"
                                                                        class="display_type_chose"/>应急避难场所
                                    </li>
                                    <li class="display_type_msg">----------------------------------</li>
                                    <li class="display_type_msg"><input id="zt_14" type="checkbox"
                                                                        class="display_type_chose"/>危化品运输车辆
                                    </li>
                                    <li class="display_type_msg"><input id="zt_11" type="checkbox"
                                                                        class="display_type_chose"/>监控设备
                                    </li>
                                    <li class="display_type_msg"><input id="zt_13" type="checkbox"
                                                                        class="display_type_chose"/>巡逻警员
                                    </li>
                                    <li class="display_type_msg"><input id="zt_12" type="checkbox"
                                                                        class="display_type_chose"/>巡逻警车
                                    </li>
                                </ul>
                            </div>
                            <div class="display_type_funct_box">
                                <span class="display_type_funct display_type_funct_sure">确定</span>
                            </div>
                        </div>
                        <!--城市选择-->
                        <div class="city_chose_box display_box" style="display: none">
                            <div class="display_type_center_box">
                                <ul class="display_type_inner_box" id="ulCity">
                                    <li class="display_type_msg"> 北京市</li>
                                    <li class="display_type_msg">自贡市</li>
                                    <li class="display_type_msg">攀枝花市</li>
                                    <li class="display_type_msg">泸州市</li>
                                    <li class="display_type_msg">德阳市</li>
                                    <li class="display_type_msg">绵阳市</li>
                                    <li class="display_type_msg">广元市</li>
                                    <li class="display_type_msg">遂宁市</li>
                                    <li class="display_type_msg">内江市</li>
                                    <li class="display_type_msg">乐山市</li>
                                    <li class="display_type_msg">南充市</li>
                                    <li class="display_type_msg">宜宾市</li>
                                    <li class="display_type_msg">广安市</li>
                                    <li class="display_type_msg">达州市</li>
                                    <li class="display_type_msg">巴中市</li>
                                    <li class="display_type_msg">雅安市</li>
                                    <li class="display_type_msg">眉山市</li>
                                    <li class="display_type_msg">资阳市</li>
                                    <li class="display_type_msg">阿坝州</li>
                                    <li class="display_type_msg">甘孜州</li>
                                    <li class="display_type_msg">凉山州</li>
                                </ul>
                            </div>
                            <div class="display_type_funct_box">
                                <span class="display_type_funct display_type_funct_sure">确定</span>
                            </div>
                        </div>
                        <!--轨迹回放-->
                        <div class="trajectory_box" style="display: none" id="divRouteReview">
                            <input class="trajectory" id="start" placeholder="开始时间">
                            <input class="trajectory" id="end" placeholder="结束时间">
                            <select class="ratio">
                                <option>1倍</option>
                                <option>2倍</option>
                                <option>3倍</option>
                            </select>
                            <button class="playback" onclick="showRoute()">回放</button>
                            <button class="playback close_playback">关闭</button>
                        </div>
                        <!--缓冲区设置-->
                        <div class="trajectory_box" style="display: none" id="divBufferSetting">
                            <button class="playback" style="width:60px" onclick="setBufferCenter()">设置点</button>
                            <input class="trajectory" id="txtBufferX" placeholder="坐标X">
                            <input class="trajectory" id="txtBufferY" placeholder="坐标Y">
                            <input value="10" class="trajectory" id="txtBufferDis" placeholder="缓冲距离">
                            <select class="ratio">
                                <option>米</option>
                                <option>千米</option>
                            </select>
                            <button class="playback" onclick="executeBuffer();edit()" style="width:60px">分析</button>
                            <button class="playback close_playback">关闭</button>
                        </div>

                        <!--地图工具栏-->
                        <div class="map_tool_outbox">
                            <span class="map_tool">
                                    <a class="map_tool_inner addition_check_btn check_btn" title="0-2000"
                                       style="background-position-x:-252px" onclick="func0(0,2000)"></a>
                                </span> <span class="map_tool">
                                    <a class="map_tool_inner addition_check_btn check_btn" title="2000-3000"
                                       style="background-position-x:-252px" onclick="func0(2000,3000)" ></a>
                                </span> <span class="map_tool">
                                    <a class="map_tool_inner addition_check_btn check_btn" title="3000-4000"
                                       style="background-position-x:-252px" onclick="func0(3000,4000)"></a>
                                </span> <span class="map_tool">
                                    <a class="map_tool_inner addition_check_btn check_btn" title="4000-5000"
                                       style="background-position-x:-252px" onclick="func0(4000,5000)"></a>
                                </span> <span class="map_tool">
                                    <a class="map_tool_inner addition_check_btn check_btn" title="5000-6000"
                                       style="background-position-x:-252px" onclick="func0(5000,6000)"></a>
                                </span> <span class="map_tool">
                                    <a class="map_tool_inner addition_check_btn check_btn" title="7000-8000"
                                       style="background-position-x:-252px" onclick="func0(7000,8000)"></a>
                                </span> <span class="map_tool">
                                    <a class="map_tool_inner addition_check_btn check_btn" title="8000-10000"
                                       style="background-position-x:-252px" onclick="func0(8000,10000)"></a>
                                </span> <span class="map_tool">
                                    <a class="map_tool_inner addition_check_btn check_btn" title="10000-20000"
                                       style="background-position-x:-252px" onclick="func0(10000,20000)"></a>
                                </span> <span class="map_tool">
                                    <a class="map_tool_inner addition_check_btn check_btn" title="20000-50000"
                                       style="background-position-x:-252px" onclick="func0(20000,50000)"></a>
                                </span> <span class="map_tool">
                                    <a class="map_tool_inner addition_check_btn check_btn" title="50000+"
                                       style="background-position-x:-252px" onclick="func0(50000,1000000)"></a>
                                </span>

                        </div>
                    </div>
                </div>

                <div class="dataAllBorder01 cage_cl" style="margin-top: 0.6% !important; height: 32.1%;">
                    <div class="dataAllBorder02" id="map_title_innerbox">

                        <!--                        <table id="table" style="width: 100%"></table>-->
                        <div id="top10AvgRent" style="height: 100%;width:50%;float: left"></div>


                        <div id="reciprocal10AvgRent" style="height: 100%;width:50%;float: right"></div>

                    </div>
                </div>
            </div>

            <div class="right_cage">
                <!--顶部切换位置-->
                <div class="dataAllBorder01 cage_cl" style="margin-top: 9% !important; height: 33%">
                    <!--                                                    <div class="data_tit1">用水</div>-->

                    <div class="map_title" style="background-image: url(img/second_title.png);">
                        房源特征
                    </div>
                    <div id="top20_business" style="height: 90%;width: 100%">


                        <div class="data25height maginS">
                            <div class="data_chart" id="water"></div>
                        </div>
                        <div class="data25height maginS">
                            <div class="data_chart" id="kwh"></div>
                        </div>
                        <div class="data25heightright maginS">
                            <div class="data_chart" id="gas"></div>
                        </div>
                        <div class="data25heightright maginS">
                            <div class="data_chart" id="heating"></div>
                        </div>
                    </div>
                </div>


                <div class="dataAllBorder01 cage_cl check_decrease"
                     style="margin-top: 1.5% !important; height: 35%; position: relative;">
                    <div class="dataAllBorder02 over_hide" style="padding: 1.2%;">

                        <div id="" style="height: 100%;width: 100%">

                            <div class="data25height maginS">
                                <div class="data_chart" id="orientation"></div>
                            </div>


                            <div class="data25heightright maginS">
                                <div class="data_chart" id="floor"></div>
                            </div>


                            <div class="data25height maginS">
                                <div class="data_chart" id="parking"></div>
                            </div>
                            <div class="data25heightright maginS">

                                <div class="data_chart" id="renovation"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dataAllBorder01 cage_cl check_decrease"
                     style="margin-top: 1.5% !important; height: 26%; position: relative;">
                    <div class="dataAllBorder02 over_hide" style="padding: 1.2%;">

                        <div id="top10_layout" style="height: 100%;width: 100%">

                            <div class="data25height maginS">
                            </div>


                            <div class="data25heightright maginS">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<script src="js/echarts.js"></script>
<script src="js/index.js"></script>
<script src="js/bstable/js/bootstrap.min.js"></script>
<script src="js/bstable/js/bootstrap-table.js"></script>
<script type="text/javascript" src="js/jquery.pagination.js"></script>
<script src="js/bstable/js/bootstrap-table-zh-CN.min.js"></script>
<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6mpoeWsggDIVttkiMhM30klGVhrn91ee&callback"></script>-->
<!--<script src="js/MainMap.js"></script>-->
<script src="js/Home_page.js"></script>
<script src="js/artDialog/artDialog.js"></script>
<script src="js/artDialog/plugins/iframeTools.source.js"></script>
<script>
    var number;
    $(function () {
        if (window.screen.height <= 768) {
            number = 4;
        } else if (window.screen.height > 768 && window.screen.height <= 900) {
            number = 6
        } else if (window.screen.height > 1080) {
            number = 8
        }
    });


    //    翻页模块
    $(".tcdPageCode").createPage({
        pageCount: 5,
        current: 1,
        backFn: function (p) {
        }
    });
    $(".chemistry_tcdPageCode").createPage({
        pageCount: 4,
        current: 1,
        backFn: function (p) {
        }
    });
    $(".enterprise_tcdPageCode").createPage({
        pageCount: 4,
        current: 1,
        backFn: function (p) {
        }
    });
    $(".car_tcdPageCode").createPage({
        pageCount: 4,
        current: 1,
        backFn: function (p) {
        }
    });

    $(function () {
        $(".tit02Diva a").each(function (index) {
            $(this).on("click", function () {
                $(".data_map").eq(main).fadeIn().siblings(".data_map").stop().hide();
                $(this).prev('i').removeClass('i_crlieAction');
                $(this).siblings('a').prev('i').addClass('i_crlieAction');

            })
        });
        // Echarts1();
        districtGroupCount();
        layoutGroupCount();
        areaGroupCount();
        top10AvgRent();
        reciprocal10AvgRent();
        businessGroupByOfRent();
        mapP(0,2000);
        liftGroupCount();
        waterGroupCount();
        kwhGroupCount();
        gasGroupCount();
        heatingGroupCount();
        orientationGroupCount();
        floorGroupCount();
        renovationGroupCount();
        parkingGroupCount();

        $("#fresh_tool").click(function (event) {
            event.stopPropagation();
            cancel();
        })

    });


    function liftGroupCount (min,max) {
        var myChart = echarts.init($("#liftGroupBy")[0]);
        $.get('/liftGroupCount',{
            min:min,
            max:max
        }).done(function (data) {
            myChart.setOption({
                title: {
                    text: '电梯',
                    textStyle: {
                        fontWeight: 'normal',              //标题颜色
                        color: '#FFFFFF'
                    },
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b}: {c} ({d}%)'
                },
                legend: {
                    orient: 'vertical',
                    left: 10,
                    data: []
                },
                series: [
                    {
                        name: '房屋数量',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: '15',
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data: data,
                    }
                ]
            });
        });
    };

    function waterGroupCount (min,max) {
        var myChart = echarts.init($("#water")[0]);
        $.get('/waterGroupCount',{
            min:min,
            max:max
        }).done(function (data) {
            myChart.setOption({
                title: {
                    text: '用水',
                    textStyle: {
                        fontWeight: 'normal',              //标题颜色
                        color: '#FFFFFF'
                    },
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b}: {c} ({d}%)'
                },
                legend: {
                    orient: 'vertical',
                    left: 10,
                    data: []
                },
                series: [
                    {
                        name: '房屋数量',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: '15',
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data: data,
                    }
                ]
            });
        });
    };

    function kwhGroupCount (min,max) {
        var myChart = echarts.init($("#kwh")[0]);
        $.get('/kwhGroupCount',{
            min:min,
            max:max
        }).done(function (data) {
            myChart.setOption({
                title: {
                    text: '用电',
                    textStyle: {
                        fontWeight: 'normal',              //标题颜色
                        color: '#FFFFFF'
                    },
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b}: {c} ({d}%)'
                },
                legend: {
                    orient: 'vertical',
                    left: 10,
                    data: []
                },
                series: [
                    {
                        name: '房屋数量',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: '15',
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data: data,
                    }
                ]
            });
        });
    };

    function gasGroupCount (min,max) {
        var myChart = echarts.init($("#gas")[0]);
        $.get('/gasGroupCount',{
            min:min,
            max:max
        }).done(function (data) {
            myChart.setOption({
                title: {
                    text: '燃气',
                    textStyle: {
                        fontWeight: 'normal',              //标题颜色
                        color: '#FFFFFF'
                    },
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b}: {c} ({d}%)'
                },
                legend: {
                    orient: 'vertical',
                    left: 10,
                    data: []
                },
                series: [
                    {
                        name: '房屋数量',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: '15',
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data: data,
                    }
                ]
            });
        });
    };

    function heatingGroupCount (min,max) {
        var myChart = echarts.init($("#heating")[0]);
        $.get('/heatingGroupCount',{
            min:min,
            max:max
        }).done(function (data) {
            myChart.setOption({
                title: {
                    text: '采暖',
                    textStyle: {
                        fontWeight: 'normal',              //标题颜色
                        color: '#FFFFFF'
                    },
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b}: {c} ({d}%)'
                },
                legend: {
                    orient: 'vertical',
                    left: 10,
                    data: []
                },
                series: [
                    {
                        name: '房屋数量',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: '15',
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data: data,
                    }
                ]
            });
        });
    };

    function orientationGroupCount (min,max) {
        var myChart = echarts.init($("#orientation")[0]);
        $.get('/orientationGroupCount',{
            min:min,
            max:max
        }).done(function (data) {
            myChart.setOption({
                title: {
                    text: '朝向',
                    subtext: '',
                    left: 'LEFT'
                    , textStyle: {
                        color: "#FFFFFF"
                    }
                },

                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: []
                },
                series: [
                    {
                        name: '朝向',
                        type: 'pie',
                        radius: '50%',
                        center: ['50%', '60%'],
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            }
                        },
                        data: data,
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            });
        });
    };

    //电梯 车位 装修
    function renovationGroupCount(min,max) {
        var myChart = echarts.init($("#renovation")[0]);
        $.get('/renovationGroupCount',{
            min:min,
            max:max
        }).done(function (data) {
            myChart.setOption({
                title: {
                    text: '装修',
                    subtext: '',
                    left: 'LEFT'
                    , textStyle: {
                        color: "#FFFFFF"
                    }
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: []
                },
                series: [
                    {
                        name: '房源',
                        type: 'pie',
                        radius: '55%',
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            }
                        },
                        center: ['50%', '60%'],
                        data: data,
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            });
        });
    };

    function parkingGroupCount (min,max) {
        var myChart = echarts.init($("#parking")[0]);
        $.get('/parkingGroupCount',{
            min:min,
            max:max
        }).done(function (data) {
            myChart.setOption({
                title: {
                    text: '车位',
                    subtext: '',
                    left: 'LEFT'
                    , textStyle: {
                        color: "#FFFFFF"
                    }
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: []
                },
                series: [
                    {
                        name: '房源',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: data,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            }
                        },
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            });
        });
    };

    function floorGroupCount(min,max) {
        var myChart = echarts.init($("#floor")[0]);
        $.get('/floorGroupCount',{
            min:min,
            max:max
        }).done(function (data) {
            myChart.setOption({
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: []
                },
                series: [
                    {
                        name: '房源',
                        type: 'pie',
                        radius: '55%',
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            }
                        },
                        center: ['50%', '60%'],
                        data: data,
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            });
        });
    };


    function EventClick() {
        $(".check_increase").removeClass("check_increase_act");
        $("#over_hide1").show().siblings().hide();
        $(".check_decrease").show();
        $("#cage_cl").hide();
        $("#map_title_innerbox").hide();
        $("#cage_cl1").show();
//        $("#over_hide").show();
//         $("#map_title_innerbox1").show();
        $(".addition_check_in").hide();
        $("#car_check_in").hide();
        BootstrapTable();
    }

    function cancel(e) {
        $(".check_increase").removeClass("check_increase_act");
        $("#over_hide").show().siblings().hide();
        $(".check_decrease").show();
        $("#cage_cl").show();
        $("#cage_cl1").hide();
//        $("#cage_cl").show();
//        $("#over_hide1").show();
//        $("#map_title_innerbox").show();
    }


    function func0(min,max) {
        districtGroupCount(min,max);
        layoutGroupCount(min,max);
        areaGroupCount(min,max);
        top10AvgRent(min,max);
        reciprocal10AvgRent(min,max);
        businessGroupByOfRent(min,max);

        mapP(min,max);
        liftGroupCount(min,max);
        waterGroupCount(min,max);
        kwhGroupCount(min,max);
        gasGroupCount(min,max);
        heatingGroupCount(min,max);
        orientationGroupCount(min,max);
        floorGroupCount(min,max);
        renovationGroupCount(min,max);
        parkingGroupCount(min,max);
    }

    //行政区房源数量 平均租金
    function districtGroupCount(min,max) {
        // var myChart = echarts.init($("#district_group")[0]);
        var myChart = echarts.init($("#district_group")[0]);
// 异步加载数据
        $.get('/districtGroupCount',{
            min:min,
            max:max
        }).done(function (data) {
            myChart.setOption({
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        crossStyle: {
                            color: '#999'
                        }
                    }
                },
                legend: {
                    data: ['房源数量', '平均租金']
                },
                xAxis: [
                    {
                        type: 'category',
                        data: data.name,
                        axisPointer: {
                            type: 'shadow'
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: '房源数量',
                        min: 0,
                        max: Math.max(data.count),
                        interval: 10,
                        axisLabel: {
                            formatter: '{value} 套'
                        }
                    },
                    {
                        type: 'value',
                        name: '平均租金',
                        min: 0,
                        max:  Math.floor(Math.max(data.rent)),
                        interval: 3000,
                        axisLabel: {
                            formatter: '{value} 元/月'
                        }
                    }
                ],
                series: [
                    {
                        name: '房源数量',
                        type: 'bar',
                        data: data.count
                    },

                    {
                        name: '平均租金',
                        type: 'line',
                        yAxisIndex: 1,
                        data: data.rent
                    }
                ]
            });
        });
    }

    //房型
    function layoutGroupCount(min,max) {
        var myChart = echarts.init($("#top10_layout")[0]);
        $.get('/layoutGroupCount',{
            min:min,
            max:max
        }).done(function (data) {
            myChart.setOption({
                title: {
                    text: 'Top10户型',
                    subtext: '',
                    left: 'center'
                    , textStyle: {
                        color: "#FFFFFF"
                    }
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    x: 40,
                    y: 30,
                    x2: 32,
                    y2: 40,
                    borderWidth: 0
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        data: data.name,

                        splitLine: {
                            show: false
                        },
                        axisLabel: {
                            show: true,
                            textStyle: {
                                color: '#a4a7ab',
                                align: 'center'
                            }
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        splitLine: {
                            show: false
                        },
                        axisLabel: {
                            show: true,
                            textStyle: {
                                color: '#a4a7ab'
                            }
                        }
                    }
                ],
                series: [
                    {
                        name: '房源数量',
                        type: 'bar',
                        barWidth: '30',
                        data: data.count,
                        itemStyle: {
                            normal: {
                                color: "#269fec"
                            }
                        }

                    }
                ]
            });
        });
    }

    //面积
    function areaGroupCount(min,max) {
        var myChart = echarts.init($("#area_group")[0]);
        $.get('/areaGroupCount',{
            min:min,
            max:max
        }).done(function (data) {
            myChart.setOption({
                title: {
                    text: '房屋面积',
                    textStyle: {
                        fontWeight: 'normal',              //标题颜色
                        color: '#FFFFFF'
                    },
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    left: 'right',
                    top: 'bottom',
                    data: ['小户型', '中户型', '大户型']
                },
                series: [
                    {
                        name: '面积',
                        type: 'pie',
                        radius: [15, 90],
                        center: ['50%', '50%'],
                        roseType: 'radius',
                        itemStyle: {
                            borderRadius: 5
                        },
                        label: {
                            show: false
                        },
                        emphasis: {
                            label: {
                                show: true
                            }
                        },
                        data: data
                    }
                ]
            });
        });
    }

    /// top10 租金
    function top10AvgRent(min,max) {
        // var myChart = echarts.init($("#district_group")[0]);
        var myChart = echarts.init($("#top10AvgRent")[0]);
// 异步加载数据
        $.get('/top10AvgRent',{
            min:min,
            max:max
        }).done(function (data) {
            myChart.setOption({
                title: {
                    text: '每平米租金前10商圈',
                    subtext: '',
                    left: 'center'
                    , textStyle: {
                        color: "#FFFFFF"
                    }
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    x: 40,
                    y: 30,
                    x2: 32,
                    y2: 40,
                    borderWidth: 0
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        data: data.name,

                        splitLine: {
                            show: false
                        },
                        axisLabel: {
                            show: true,
                            textStyle: {
                                color: '#a4a7ab',
                                align: 'center'
                            }
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        splitLine: {
                            show: false
                        },
                        axisLabel: {
                            show: true,
                            textStyle: {
                                color: '#a4a7ab'
                            }
                        }
                    }
                ],
                series: [
                    {
                        name: '每平米租金',
                        type: 'bar',
                        barWidth: '30',
                        data: data.count,
                        itemStyle: {
                            normal: {
                                color: "#269fec"
                            }
                        }

                    }
                ]
            });
        });
    }

    // 倒数10 租金
    function reciprocal10AvgRent(min,max) {
        var myChart = echarts.init($("#reciprocal10AvgRent")[0]);
        $.get('/reciprocal10AvgRent',{
            min:min,
            max:max
        }).done(function (data) {
            myChart.setOption({
                title: {
                    text: '每平米租金末10商圈',
                    subtext: '',
                    left: 'center'
                    , textStyle: {
                        color: "#FFFFFF"
                    }
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    x: 40,
                    y: 30,
                    x2: 32,
                    y2: 40,
                    borderWidth: 0
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        data: data.name,

                        splitLine: {
                            show: false
                        },
                        axisLabel: {
                            show: true,
                            textStyle: {
                                color: '#a4a7ab',
                                align: 'center'
                            }
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        splitLine: {
                            show: false
                        },
                        axisLabel: {
                            show: true,
                            textStyle: {
                                color: '#a4a7ab'
                            }
                        }
                    }
                ],
                series: [
                    {
                        name: '每平米租金',
                        type: 'bar',
                        barWidth: '30',
                        data: data.count,
                        itemStyle: {
                            normal: {
                                color: "#269fec"
                            }
                        }

                    }
                ]
            });
        });
    }

    // 商圈 房源与平均租金
    function businessGroupByOfRent(min,max) {
        var myChart = echarts.init($("#businessGroupByOfRent")[0]);
        $.get('/businessGroupByOfRent',{
            min:min,
            max:max
        }).done(function (data) {
            myChart.setOption(
                {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            crossStyle: {
                                color: '#999'
                            }
                        }
                    },
                    legend: {
                        data: ['房源数量', '平均租金']
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: data.name,
                            axisPointer: {
                                type: 'shadow'
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '房源数量',
                            min: 0,
                            max: Math.max(data.count),
                            interval: 10,
                            axisLabel: {
                                formatter: '{value} 套'
                            }
                        },
                        {
                            type: 'value',
                            name: '平均租金',
                            min: 0,
                            max: Math.floor(Math.max(data.rent)),
                            interval: 3000,
                            axisLabel: {
                                formatter: '{value} 元/月'
                            }
                        }
                    ],
                    series: [
                        {
                            name: '房源数量',
                            type: 'bar',
                            data: data.count
                        },

                        {
                            name: '平均租金',
                            type: 'line',
                            yAxisIndex: 1,
                            data: data.rent
                        }
                    ]
                }
            );
        });
    }


    function mapP(min,max) {
// 百度地图API功能
        var map = new BMapGL.Map("map");    // 创建Map实例
        map.centerAndZoom(new BMapGL.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
        var mapStyle = {
            style: "dark"
        };
        map.addControl(new BMapGL.MapTypeControl({
            mapTypes: [
                BMAP_NORMAL_MAP,
                BMAP_HYBRID_MAP
            ]
        }));
        map.enableScrollWheelZoom(true);
        addMark()

        function addMark() {
            var opts = {
                width: 250,
                height: 150,
                title: "房源信息",
                enableMessage: false
            }
            $.ajax({
                type: "GET",
                url: "mapPoint",
                data: {min: min, max: max},
                dataType: "json",
                success: function (json) {
                    for (var i = 0; i < json.length; i++) {
                        var content =
                            "<div class='metle'><table>" +
                            "<tr><td>小区:" + json[i].quarters + "</td></tr>" +
                            "<tr><td>商圈:" + json[i].business + "</td></tr>" +
                            "<tr><td>面积:" + json[i].area + "</td></tr>" +
                            "<tr><td>租金:" + Math.floor(json[i].rent) +'元/月'+ "</td></tr>" +
                            // "<tr><td>时间:"+json[i].utc+"</td></tr>"+
                            "</table>" +
                            "<a href="+json[i].url+" style='padding:2px;'>"+'链接'+"</a>"+
                            "</div>";
                        var infoWindow = new BMapGL.InfoWindow(content, opts);//创建信息窗口
                        var mark = new BMapGL.Marker(new BMapGL.Point(json[i].longitude, json[i].latitude));  // 创建标注
                        mark.infoWindow = infoWindow;//关键点！给当前标注添加属性保存window信息
                        mark.addEventListener("click", function (e) {
                            this.openInfoWindow(e.target.infoWindow);
                        });//回调对应的信息
                        map.addOverlay(mark);
                    }

                }
            });
        }
    }

</script>

</body>
</html>



























